---
import Hero from "../components/home/Hero";
import JoinCTA from "../components/home/JoinCTA";
import CardsCTA from "../components/home/cardsCTA/CardsCTA";
import ServicesCTA from "../components/home/services/ServicesCTA";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <!-- <CardsCTA />
    <JoinCTA />
    <ServicesCTA /> -->
  </main>
</Layout>
