---
import Layout from "../layouts/Layout.astro";

import Hero from "./home/Hero";
import JoinCTA from "./home/JoinCTA";
import CardsCTA from "./home/cardsCTA/CardsCTA";
import ServicesCTA from "./home/services/ServicesCTA";
---

<Layout title="Welcome to Astro.">
  <main>
  <Hero />
  <CardsCTA />
  <JoinCTA />
  <ServicesCTA />
  </main>
</Layout>
